/* LIST #2 */
#list2 { 
  width:320px; 
}
#list2 ol { 
  font-style:italic; 
  font-family:Garamond, Times, serif; 
  font-size:24px; 
  color:blue;  
}
#list2 ol li p { 
  padding:8px; 
  font-style:normal; 
  font-family:Arial; 
  font-size:13px; 
  color:black; 
  border-left: 1px solid #999; 
}

.page-container {
  padding:0 20px 0 20px;
}
.weekLabel {
  text-align:center;
  /*height: 150px;*/
  /*line-height: 150px;*/
}