body {
	width:80%;
	margin-left:10%;
	text-align:center;
}
div {
	padding:10px;
	margin:10px;
}
div:hover { 
  font-weight: bold;
}
#big {
	font-size:200%;
	background-color:#00FF00;
}
#medium {
	font-size:150%;
	background-color:#DA70D6;
}
#small {
	font-size:80%;
	background-color:#9370DB;
}
