#majorDropdown {
	width:100%;
	text-align:left;
	border:1px solid #ced4da;
}
.caret {
    position: absolute;
    left: 90%;
    top: 45%;
}
.dropdown-menu {
	width:100% !important;
}
.shiftRight {
    padding-left:25px !important;
}
.largeFont {
    margin-top:-5px;
    font-size:125%;
}
.cart {
    height:40px;
    width:40px;
    z-index:11111;
    position: fixed;
    top: 50px;
    right: 10px;
}
.imgClass {
    position: relative;
    width:100%;
    height:100%;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    text-align:center !important;
}
.imgWrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.checkoutButton {
    float:right !important;
    font-size:75%;
}
