body {
	margin:0px;
}
.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
  padding-top: 2.5rem;       /* Header height */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align:center;
  height:40px; 
  line-height:40px;
}

.header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #7078EB;
	color:white;
	text-align:center;
	height:40px; 
	line-height:40px;
}